<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
 
 
   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Patrick Lewis</h2>
      <br /> 
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/SomeRandom42">Patrick Lewis</a>. Someone who is trying to get into coding.
  </p>
  <br />
  <p>
    I am a code newbie but am learning alot! I am currently learning at the <a target="_blank" href="http://www.thefirehoseproject.com/">FireHose project</a>. It is great so far and I hope to be coding many more projects!
  </p>
  </p>
    </div>
  </div>
    <br class="clear" />
    <br />
    <br />
    <br />
<br />

</div>